* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}


.encabezado1 {
  background-color: #1cd1b0;
  font-weight: 400;
  font-size: 15px;
  padding: 10px 27px;
}

.encabezado2 {
  background-color: #00669f;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  font-size: 40px;
  padding: 28px 28px;
}

.contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 40px 0px 40px;
}

.card {
  position: relative;
  width: 336px;
  height: 520px;
  background-color: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.card img  {
  width: 100%;
}


.card-img .logo-corazon {
  position: absolute;
  width: 30px;
  top: 20px;
  left: 25px

}

.card-img .profile-picture {
  position: relative;
  width: 130px;
  top: -70px;
  border-radius: 100%;

}

.title {
  text-align: center;
  padding: 0px 0px 10px 0px;
  font-weight: 400;
  font-size: 30px;
  margin-top: -55px;
}

.descripcion {
  padding: 0px 16px 20px;
  font-weight: 400;
  font-size: 16px;
}


button {
  padding: 15px;
  background-color: #00669f;
  color: white;
  width: 128.78px;
  border: none;
}

footer {
    position:fixed;
    bottom:0px;
    width: 100%;
}


.copyright {
  background-color: #00669f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  font-size: 16px;
  padding: 16px;
  color: #FFF9F9;
}
